/*@font-face {
    font-family: Znikomit;
    src: url('../font/Znikomit.otf');
}*/
@font-face {
  font-family: Cookie;
  src: url('../font/Cookie-Regular.ttf');
}
@font-face {
  font-family: Ikaros;
  src: url('../font/Ikaros-Light.otf');
}
@font-face {
  font-family: Ika;
  src: url('../font/Ikaros-Regular.otf');
}
@font-face {
  font-family: Ikkaros;
  src: url('../font/Ikaros.ttf');
}
@font-face {
  font-family: Keep;
  src: url('../font/KeepCalm-Medium.ttf');
}

body {
  background-image: url(../img/background.png);
  overflow-x: hidden;
}
.menu {
  background-color: #20768c;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  transition: 0.5s;
  border-bottom: 6px solid #fea00d;
  font-size: 0.5em;
}
.menu:hover {
  background-color: #9ce6fb;
  color: black;
  font-size: 0.2em;
}
.links {
  font-family: Ikaros, Ika, Ikkaros, Cookie, Keep;
  color: white;
  font-size: 2.9vw;
}
.image1 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}
.image1 img {
  width: 150px;
  border-radius: 50%;
}
.language {
  margin-right: none;
  text-align: center;
  margin-top: 1em;
  margin-bottom: -6.2em;
}
.logo {
  margin-left: -0.3em;
  margin-right: 0.5em;
  padding-right: 0.2em;
}
.name {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2.2em;
  font-family: Ikaros;
  color: black;
  background-color:  #fea00d;
  border-radius: 5em;
  padding: 2px;
  transition: 0.5s;
}
.name:hover {
  background-color: #FEB33D;
  text-decoration: underline;
}
.top {
  text-align: center;
  color: white;
  font-family: Ikaros;
  font-size: 2em;
  margin-top: -1em;
  margin-bottom: -0.1em;
  padding: 0.2em;
  background-color: black;

}
.me {
  background-color: #20768c;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: center;
  border-top: 6px solid #fea00d;
  border-bottom: 0.15em solid black;
  color: white;
  transition: 0.5s;
  margin-bottom: 3em;
  font-family: Ikaros;
}
.me:hover {
  background-color: #9ce6fb;
  color: black;
  font-size: 1.5em;
  padding: 0.2em;
}
